
body, html {  
    height: 100%;  
    margin: 0;  
  } 
.dabox{
   top: 3%;
    display: flex;  
    justify-content: center; /* 水平居中 */  
    align-items: center; /* 垂直居中 */  
    height: 50%; /* 占据整个视口高度 */  
    position: relative;
    flex-wrap: wrap;
}
.b1{
    display: flex;  
    justify-content: center; /* 水平居中 */  
    align-items: center; /* 垂直居中 */  
 
    position: relative;
    flex-wrap: wrap;
    display: none;
}
.b2{
   
        display: flex;  
        justify-content: center; /* 水平居中 */  
        align-items: center; /* 垂直居中 */  
     
        position: relative;
        flex-wrap: wrap;
    
}
.box{
  width: 65%;
 top: -50px;
 display: flex;
 justify-content: space-between;
 
}


.lp{
    display: flex;
    justify-content: space-between;
}

.sd{
    width: 95%;
    height: 50%;
   

}
.pp{
    position: relative;
}

.opop{
    text-align: center;

    font-size: 1vw;

margin-top: -15%;
color: darkorange;
}
.opop:hover{
    color: orangered;
}
.kop{

 width: 100%;
 height: 80%;
    display: flex;
    
    justify-items: center;
    justify-content: center;
}

.box1{
    position: relative;
    left: 64%;
    top: -90%;
    margin-left: 100px;
}
.lt{
    float: left;
    color: cornflowerblue;
    width: 33px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
  
    font-size: 23px;
    position: relative;
    left: 70%;
    cursor: pointer;
    user-select: none;
}
.gt{
float: left;
color: cornflowerblue;
    width: 33px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
   
    font-size: 23px;
    position: relative;
    left: 75%;
    cursor: pointer;
    user-select: none;
}




.lg{
display: flex;
}
.b1:nth-child(1){
display: flex;
}
.anliuhezi{
    display: flex;
    justify-content: space-between;
    width: 13%;
}
.anliu{
    width: 20px;
    height: 20px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border-radius: 10%;
}
.anliu:nth-child(1){
    background-color: darkgray;
}
.anliu:hover{
color: mediumblue;   
    
}

.lt:hover{
background-color: gainsboro;
}
.gt:hover{
    background-color: gainsboro;
    }
.lpp{
    width: 100%;
    display: flex;
}
.tpa{
    width: 25%;
    position: relative;
    left: 10%;
    top: 10%;
}
.e {
    /*color:black;
    position: relative;
    text-align: center;*/
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; /*字体加粗*/
    text-align: center;
    color: black;
    /*margin-top: 30px;*/
    font-size: 50px;
    position: relative;
    left: -17%;
    top: -17%;

}
.tubiao{
    position: absolute;
    top: 1320px;
}



